.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.about {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    52deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(66, 89, 78, 1) 13%,
    rgba(144, 238, 255, 1) 36%,
    rgba(7, 51, 66, 1) 68%,
    rgba(3, 143, 210, 1) 100%
  );
}

.under-lining {
  content: "";
  display: block;
  /* margin: 0 auto; */
  width: 24px;
  border-bottom: 4px solid rgba(66, 89, 78, 1);
  opacity: 0.6;
}

.project {
  background-color: white;
  color: #282c34;
  padding-top: 4rem;
}

.logos {
  margin-top: 6rem;
}

.after {
  width: 24px;
  border-bottom: 4px solid #282c34;
  opacity: 0.6;
}

.title-skills {
  margin-right: 11rem;
  text-decoration: underline;
}

.skills {
  margin-top: auto;
  max-width: 100%;
  color: white;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.live-btn {
  background-color: rgba(3, 143, 210, 1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-ps {
  margin-left: 1rem;
  min-width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
